<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.elevator.car_wing.mapper.Car_wingMapper">

    <resultMap type="Car_wing" id="CarWingResult">
        <id     property="id"       column="client_id"        />
        <result property="service_id"     column="service_id"      />
        <result property="user_number"     column="user_number"      />
        <result property="car_wing"     column="car_wing"      />
        <result property="car_door"     column="car_door"      />
        <result property="show_wing"     column="show_wing"      />
        <result property="floor_wing"     column="floor_wing"      />
        <result property="emergency_alarm"     column="emergency_alarm"      />
        <result property="sentinel_plant"     column="sentinel_plant"      />
        <result property="weigh"     column="weigh"      />
        <result property="tank_guide_rail"     column="tank_guide_rail"      />
        <result property="button_plate"     column="button_plate"      />
        <result property="top_emergency_device"     column="top_emergency_device"      />
        <result property="top_lubrication"     column="top_lubrication"      />
        <result property="top_vibration"     column="top_vibration"      />


    </resultMap>

    <insert id="insertCarWing" parameterType="Car_wing" useGeneratedKeys="true" keyProperty="id">
        insert into car_wing(
        <if test="id != null and id != 0">id,</if>
        <if test="service_id != null and service_id != ''">service_id,</if>
        <if test="user_number != null and user_number != ''">user_number</if>
        <!--<if test="traction_machine != null and traction_machine != ''">area,</if>-->
        <!--<if test="room_environment != null and room_environment != ''">room_environment,</if>-->
        <!--<if test="encoder != null and encoder != ''">encoder,</if>-->
        <!--<if test="brakespinparts != null and brakespinparts != ''">brakespinparts,</if>-->
        <!--<if test="brakesclearance != null and brakesclearance != ''">brakesclearance,</if>-->
        <!--<if test="speedlimiter != null and speedlimiter != ''">speedlimiter,</if>-->
        <!--<if test="operating_device != null and operating_device != ''">operating_device</if>-->
        )values(
        <if test="id != null and id != 0">#{id},</if>
        <if test="service_id != null and service_id != ''">#{service_id},</if>
        <if test="user_number != null and user_number != ''">#{user_number}</if>
        <!--<if test="traction_machine != null and traction_machine != ''">#{traction_machine},</if>-->
        <!--<if test="room_environment != null and room_environment != ''">#{room_environment},</if>-->
        <!--<if test="encoder != null and encoder != ''">#{encoder},</if>-->
        <!--<if test="brakespinparts != null and brakespinparts != ''">#{brakespinparts},</if>-->
        <!--<if test="brakesclearance != null and brakesclearance != ''">#{brakesclearance},</if>-->
        <!--<if test="speedlimiter != null and speedlimiter != ''">#{speedlimiter},</if>-->
        <!--<if test="operating_device != null and operating_device != ''">#{operating_device}</if>-->
        )
    </insert>

</mapper>